<div class="w3-modal" style='display:block'>
    <div class="w3-modal-content">
        <div class="w3-container w3-row-padding w3-section">
            <span class="w3-closebtn">{{#link-to "overview"}}<i class="fa fa-close"></i>{{/link-to}}</span>
            <h3>{{t "detail.title"}}</h3>
            <p>
            <div class="w3-container">
                <table class="w3-table-all">
                    <tr>
                        <th>{{t "detail.property"}}</th>
                        <th>{{t "detail.value"}}</th>
                    </tr>
                    <tr>
                        <td>{{t "detail.name"}}</td>
                        <td>{{model.productI18N}}</td>
                    </tr>
                    <tr>
                        <td>{{t "detail.balance"}}</td>
                        <td>{{format-currencyNumber model.actualBalance}} {{model.balance.currency}}</td>
                    </tr>
                    <tr>
                        <td>{{t "detail.description"}}</td>
                        <td>{{model.description}}</td>
                    </tr>
                                       <tr>
                        <td>{{t "detail.alias"}}</td>
                        <td>{{model.alias}}</td>
                    </tr>
                </table>
            </div>
            </p>
        </div>
    </div>
</div>