<h3>Your domestic payment</h3>
<form {{action "sendDomestic" model on="submit" }}>
    <div class="w3-row-padding w3-section">
        <label>Sender account</label>
        <select class="w3-select" name="option" onchange={{action "selectSenderAccount" value="target.value" }}>
  <option value="" disabled selected>Choose your sender account</option>
  {{#each model as |account|}}
     <option value="{{format-account account.accountno.cz-iban}}">{{format-iban account.accountno.cz-iban}} ({{format-account account.accountno.cz-iban}}/{{account.accountno.bankCode}})</option>
  {{/each}}
  </select>
  {{display-error errors=errors.model.accountSender showErrors=showErrors}}
    </div>

    <div class="w3-row-padding w3-section">
        <div class="w3-twothird">
            <label>Receiver account</label>
            <div class="w3-red">{{errors.mod11}}</div>{{input type="text" class="w3-input" id="receiverAccount" value=model.receiverAccount}}
            {{display-error errors=errors.model.receiverAccount showErrors=showErrors}}
        </div>
        <div class="w3-third">
            <label>Receiver bankcode</label> {{input type="number" class="w3-input" id="receiverBankCode" value=model.receiverBankCode}}
        </div>
    </div>

    <div class="w3-row-padding w3-section"><label>Transfer date</label> {{input type="date" class="w3-input" id="transferDate" value=model.transferDate}}</div>
    <div class="w3-row-padding w3-section"><label>Amount</label> {{input type="text" class="w3-input" id="amountValue" value=model.amountValue}}</div>
    <button type=submit class="w3-btn w3-blue">Send</button> 
</form>
{{outlet}}