<div class="w3-modal" style='display:block'>
  <div class="w3-modal-content">
    <div class="w3-container w3-row-padding w3-section">
      <span class="w3-closebtn">{{#link-to "overview"}}<i class="fa fa-close"></i>{{/link-to}}</span>
      <h3>{{t "transactions.title"}}</h3>
      <div class="w3-row-padding w3-section">
         <div class="w3-col" style="width:50px">
           <i class="w3-xlarge fa fa-search"></i>
         </div>
         <div class="w3-rest">
         {{input value=search class="w3-input"}}
         </div>
      </div>
      <p>
      <ul class="w3-ul w3-hoverable w3-accordion">
        {{#each model as |pr|}}
        <li onclick="modalDisposal(this.id)" id={{pr.id}}>
          <div class="w3-container">
            <span>{{pr.transactionLabel}}</span>
            <span style="float:right;">{{format-currencyNumber pr.actualBalance}} {{pr.amount.currency}}</span>
            <div name="{{pr.id}}" class="w3-accordion-content w3-container w3-animate-zoom">
              <p>SS: {{pr.additionalTexts.specificSymbol}} KS: {{pr.additionalTexts.constantSymbol}} VS:{{pr.additionalTexts.variableSymbol}}</p>
              <p>{{t "transactions.reference"}}: {{pr.reference}}</p>
            </div>
          </div>
        </li>
        {{else}}
        <p>{{t "transactions.nothingToDisplay"}}</p>
        {{/each}}
      </ul>
      </p>
    </div>
  </div>
</div>