<h3>Account list</h3>
<ul>
{{#each model as |pr|}}
  <li>
    {{pr.productI18N}} - {{#link-to "accounts.transactions" pr.id}}{{pr.accountno.iban}}{{/link-to}} - {{format-currencyNumber pr.actualBalance}} {{pr.balance.currency}}
  </li>
{{/each}}
</ul>
{{outlet}}
