<nav class="w3-sidenav w3-dark-grey w3-animate-left" style="display:none">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-closenav w3-large">{{t "app.close"}} <i class="fa fa-close"></i></a> {{#link-to "overview.domestic"}}<span onclick="w3_close();">{{t "app.paymentOrder"}}</span>{{/link-to}} {{#link-to "overview"}}
  <span
    onclick="w3_close();">{{t "app.overview"}}</span>{{/link-to}}
    <a href="javascript:void(0)" onclick={{action "setLanguage" "cs"}}>
      <div class="phoca-flagbox" style="width:25px;height:25px"><span class="phoca-flag cz"></span></div> {{t "lang.cs"}}</a>
    <a href="javascript:void(0)" onclick={{action "setLanguage" "en"}}>
      <div class="phoca-flagbox" style="width:25px;height:25px"><span class="phoca-flag us"></span></div> {{t "lang.en"}}</a>
    {{#link-to "about"}}<span onclick="w3_close();">{{t "app.about"}}</span>{{/link-to}}
</nav>
  

<div class="w3-main">

  <span class="w3-opennav w3-xlarge" onclick="w3_open()"><i class="fa fa-bars"></i></span>
  <div class="w3-row">
    <div class="w3-col s10 w3-left">
      <h3><div class="w3-container w3-animate-left w3-pale-blue">
      {{t "user.welcome" firstname=profile.firstname lastname=profile.lastname salutation=profile.salutation}}
      </div></h3>
    </div>
    <div class="w3-col s2 w3-center">
      <div class="w3-card-4" style="height:90px;width:90px">
      <div id="userimage"></div>  
       {{#if userimage}}
        <img src="data:image/gif;base64,{{userimage.image}}" class="w3-border" alt="{{t 'user.profilePhoto'}}">
      {{else}}
      {{--debugger}}
     <script>
        var draw = SVG('userimage').size(92, 92);
        var text = draw.text('{{profile.monogram}}').move(42, 5);
        text.font({
          family: 'Indie Flower',
          size: 50,
          anchor: 'middle',
          fill: '#222223'
        });
        text.filter(function(add) {
          add.size('200','200');
          var offset = add.offset(5, 6).in(add.sourceAlpha)
          var blur=add.gaussianBlur(5);
          add.blend(add.source, blur);
        });
        var text2 = draw.text('{{profile.monogram}}').move(42, 5);
        text2.font({
          family: 'Indie Flower',
          size: 50,
          anchor: 'middle',
          fill: '#222223'
        });
        draw.click(function() {
          draw.rect(15, 15).animate().fill('#f03').move(92, 92);
          this.text.draw.text('FCK').move(42, 5).animate().rotate(180,200,100);  
        });
      </script>
      {{/if}}
      </div>
    </div>
  </div>
  {{#link-to "overview" current-when="overview"}} {{/link-to}} {{outlet}}
</div>
<div class="w3-container w3-pale-blue">
  <p>Developed in 2016</p>
</div>