<div class="w3-row-padding">
  {{#each model as |account|}}
    <div class="w3-third w3-row-padding w3-section">
      <div class="w3-card-4">
        <header class="w3-container {{account.productColorClass}}">
          <h4>{{format-productName account.productI18N}}</h4>
        </header>
        <div class="w3-container">
          <p class="w3-tooltip">{{format-iban account.accountno.cz-iban}}
            <span style="position:absolute;left:0;bottom:18px" class="w3-text w3-tag">
            {{#if (eq account.accountno.prefix "")}}
             {{account.accountno.prefix}}-{{/if}}{{account.accountno.number}}/{{account.accountno.bankCode}}</span></p>
          <p>{{format-currencyNumber account.actualBalance}} {{account.balance.currency}}</p>
        </div>
        <footer class="w3-container {{account.productColorClass}}">
          <h5>{{#link-to "overview.transactions" account.id}}<span onclick="document.getElementById('id01').style.display='block'">Tell me more</span>{{/link-to}}</h5>
        </footer>
      </div>
    </div>
  {{/each}}
</div>
<div id="id01" class="w3-modal" style='display:none'>
  <div class="w3-modal-content">
    <div class="w3-container w3-row-padding w3-section">
      <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-closebtn"><i class="fa fa-close"></i></span>
      <div id="id02" style='display:none'>Loading... !</div>
      <p>{{outlet}}</p>
    </div>
  </div>
</div>
