<div class="w3-row-padding">
  {{#each model as |account|}}
    <div class="w3-third w3-row-padding w3-section">
      <div class="w3-card-4">
        <header class="w3-container {{account.productColorClass}} w3-tooltip">          
          {{#link-to "overview.detail" account.id tagName="h4"}} {{#if account.alias}}{{format-productName account.alias}}{{else}}{{format-productName account.productI18N}}{{/if}}{{/link-to}}
          <span style="position:absolute;left:5;bottom:20px" class="w3-text w3-tag">{{account.productI18N}}</span>
        </header>
        <div class="w3-container">
          <p class="w3-tooltip">{{format-iban account.accountno.cz-iban}}
            <span style="position:absolute;left:0;bottom:18px" class="w3-text w3-tag">
            {{#if (eq account.accountno.prefix "")}}
             {{account.accountno.prefix}}-{{/if}}{{account.accountno.number}}/{{account.accountno.bankCode}}</span></p>
          <p class="w3-tooltip">{{format-currencyNumber account.actualBalance}} {{account.balance.currency}}
            <span style="position:absolute;left:0;bottom:18px" class="w3-text w3-tag">
            {{t "overview.accountBalanceTooltip"}}
            </span>
          </p>
        </div>
        <footer class="w3-container {{account.productColorClass}}">
          <h5>{{#link-to "overview.transactions" account.id}}<span>{{t "overview.link"}}</span>{{/link-to}}</h5>
        </footer>
      </div>
    </div>
  {{/each}}
</div>
{{outlet}}