<div class="w3-row-padding">
  {{#each model as |account|}}
    <div class="w3-third">
      <div class="w3-card-4">
        <header class="w3-container w3-blue">
          <h4>{{account.productI18N}}</h4>
        </header>
        <div class="w3-container">
          <p class="w3-tooltip">{{account.accountno.iban}}
            <span style="position:absolute;left:0;bottom:18px" class="w3-text w3-tag">
            {{#if (not-eq account.accountno.accountPrefix "0")}}
             {{account.accountno.accountPrefix}}-{{/if}}{{account.accountno.accountNumber}}
               /{{account.accountno.bankCode}}</span></p>
          <p>{{account.actualBalance}} {{account.balance.currency}}</p>
        </div>
        <footer class="w3-container w3-blue">
          <h5>Tell me more</h5>
        </footer>
      </div>
    </div>
  {{/each}}
</div>
